.formContainer{
    height: 200px;
}

.formContainer__input{
    width: 25vw;
    height: 2rem;
    font-size: 1.8rem;
    padding: 1rem;
    color: #fff;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #fff;
    outline-style: none;
}

.formContainer__input:focus{
    border: none;
    border: 1px solid greenyellow;
}
.error{
    color: red;
}
.pass{
    color: green;
}