.AppContainer {
  min-height: 100vh;
  background-color: #282c34;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.main__title{
  margin: 5rem 0;
}